.footer {
  text-align: center;
  border-style: solid;
}
div.header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  background: #000000;
  text-align: center;
}
h1.headerrub {
  color: #ffffff;
}
